http://localhost {
  redir / https://localhost
}
https://localhost {
  gzip
  tls /Users/Julia/localhost.crt /Users/Julia/localhost.key
  header / Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}
